:root {
    --primary-grey: rgb(109, 109, 109);
    --primary-white: white;
    --primary-blue: rgb(64, 64, 201);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e3f2fd;
}

.button {
    padding: 0.8em 2em;
    border: 1px solid var(--primary-grey);
    border-radius: 5px;
    color: var(--primary-grey);
    background-color: var(--primary-white);
    font-weight: 500;
    cursor: pointer;
    transition: 300ms all;
}

.button:hover,
.button:focus {
    background-color: var(--primary-blue);
    color: var(--primary-white);
}

.container {
    max-width: 900px;
    width: 100%;
    background-color: var(--primary-white);
    padding: 1rem;
    border-radius: 7px;
    box-shadow:
        0px 2.6px 8.8px -2px rgba(0, 0, 0, 0.048),
        0px 13.3px 29.5px -2px rgba(0, 0, 0, 0.072),
        0px 45px 132px -2px rgba(0, 0, 0, 0.12);

}

.container h2 {
    margin-bottom: 1rem;
}

.container.disable :where(.editor, .reset, .download-img) {
    opacity: 0.5;
    pointer-events: none;
}

.wrapper {
    display: flex;
    gap: 1rem;

}

.editor {
    max-width: 400px;

}

.filters {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-grey);
    border-radius: 5px;
    gap: 1rem;
    padding: 1rem;
}

.editing-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}

.slider .filter-info {
    display: flex;
    justify-content: space-between;
}

.slider input {
    width: 100%;
}

.img-preview {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    /* margin-left: 20px; */
    border-radius: 5px;
    align-items: center;
    justify-content: center;

}

.img-preview img {
    max-width: 490px;
    max-height: 335px;
    width: 100%;
    height: 100%;
    object-fit: contain
}

footer {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.choose-img {
    background-color: var(--primary-grey);
    color: var(--primary-white);
}

.download-img {
    background-color: var(--primary-blue);
    color: var(--primary-white);
}

@media only screen and (max-width:870px) {
    body {
        background-color: red;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width:525px) {
    footer {
        flex-direction: column;
        gap: 1rem;
    }
}